.send{
	top: -60px;
	width: 600px;
	float: right;
	position: relative;
	border-left: 1px solid #D5D5D5;
	padding-left: 60px;
}
.list-literature{
	width: 600px;
}
.list li{
	display: inline-block;
}
.list-literature input{
	float: right;
}
.list-literature {
	float: left;
}

.alert{
	width: 50%;
	height: 80%;
	position: absolute;
	left: 25%;
	top: 10%;
	border-radius: 20px;
	border: 3px solid #37BB10;
	background: #A2FC70;
	text-align: center;
}
h1 {
	color: #CE3F3F;
}

.send input,textarea{
	width: 200px;
}
.bold{
	font-weight: bold;
	font-size: 20px;
}
.displ{
	font-size: 20px;
	color: #63A0A0;
}